#main{
    padding: 50%;
    background-color: rgb(234, 225, 202);
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
#box{
    text-align: center;
    padding-left: 30%;
    border-color: black;
}

#p1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
}